.header {
  background: dimgrey;
  height: 4rem;
}

.title {
  color: aliceblue;
}

.align-center {
  display: flex;
  align-items: center;
}

.button {
  background: dimgrey!important;
  color: white!important;
  font-size: 2rem!important;
  border: 0!important;
  box-shadow: None!important;
}
